# General Settings
DEBUG=True

# TeleMT API Config
TELEMT_API_URL=http://localhost:9095/v1
TELEMT_AUTH_HEADER=mysecret

# Proxy Appearance
PROXY_HOST=YOUR_SERVER_IP
PROXY_PORT=443
TLS_DOMAIN=google.com

# Database
DATABASE_URL=sqlite+aiosqlite:///./telemt_keys.db

# Redis for Scheduler
REDIS_URL=redis://localhost:6370/0

# Management Security (X-API-Key)
MANAGEMENT_API_KEY=super-secret-key-123
